.form {
  @apply mb-5 flex items-center gap-5 pb-5;
  border-bottom: 3px solid #242037;
  @media (max-width: 768px) {
    @apply flex-col;
  }
}

.colorPicker {
  @apply w-full appearance-none rounded-full;
  border: none;
  max-width: 3rem;
  height: 3rem;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorPicker::-webkit-color-swatch {
  @apply rounded-full;
  border: none;
}

.input {
  @apply w-full rounded-xl p-4 text-xl shadow-2xl;
  color: var(----input-color);
  background-color: var(--input);
}

.button {
  @apply w-full rounded-xl p-4 text-xl;
  max-width: 10rem;
  color: #e0dcf3;
  background-color: #242037;
  transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  &:disabled {
    @apply cursor-not-allowed;
    background-color: #7f7b92;
  }
  @media (max-width: 768px) {
    @apply max-w-full;
  }
}
