.checkbox {
  @apply relative w-8 h-8 rounded-lg;
  border: 3px solid #e0dcf3;
  appearance: none;
  outline: none;
  cursor: pointer;

  &.checked {
    background-color: #e0dcf3;
  }

  &.checked::before {
    @apply absolute;
    content: '';
    width: 28px;
    height: 20px;
    top: 3px;
    left: -1px;
    background-image: url('../../../assets/images/checkbox.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--black);
  }

  &:disabled {
    border-color: #c0c0c0;
    background-color: #c0c0c0;
  }
}
