@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  @apply overflow-x-hidden;
  font-family: 'Poppins', sans-serif;
  transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  color: var(--primary);
  background-color: var(--body-bg);
}
