:root {
  --body-bg: #2a263e;
  --primary: #e0dcf3;
  --header-bg: #2f2a45;
  --header-border: #cfcfdb;
  --nav-color: #8984a3;
  --nav-hover: #595d84;
  --black: #252525;
  --input: #2a263e;
  --input-color: #e0dcf3;
}
