.bg {
  @apply fixed inset-0;
  filter: blur(5px);
  background-color: rgba(42, 38, 62, 0.7);
}

.form {
  @apply w-full flex flex-col items-center absolute top-60 left-1/2 -translate-x-1/2;
  min-width: 20rem;
  max-width: 35.625rem;
  gap: 1.875rem;
  background-color: #453e67;
  border-radius: 1.875rem;
  padding: 2.1875rem 6.25rem;
  z-index: 1;
  @media (max-width: 768px) {
    padding: 1rem 2rem;
  }
}

.title {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: #eeeeee;
}

.input {
  font-size: 1.3125rem;
  line-height: 2rem;
  color: var(--black);
  background-color: var(--primary);
  padding: 0.75rem 2.1875rem;
  border: 2px solid transparent;
  border-radius: 1.875rem;
  &:focus {
    @apply shadow-2xl;
    outline: none;
    border: 2px solid var(--black);
  }
}

.button {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: #eeeeee;
  padding: 0 4.75rem;
  background-color: #242037;
  border-radius: 1.875rem;
  transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  &:hover {
    background-color: #35304c;
  }
  &:disabled {
    @apply cursor-not-allowed;
    background-color: #b0b0b0;
  }
}

@media (max-width: 768px) {
  .form {
    padding: 1rem 2rem;
  }
  .input {
    padding: 0.5rem 1rem;
  }
}
