.header {
  @apply fixed left-0 top-0 flex h-screen w-[21.875rem] flex-col gap-8 overflow-y-auto rounded-[1.875rem] border-[3px] border-[#cfcfdb] bg-[#2f2a45] p-8 text-center shadow-2xl;
}

.todos {
  @apply text-5xl font-bold;
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to right,
    #d06a76,
    #cb0203,
    #ec0202,
    #d83248,
    #e41f07,
    #c9081e,
    #f47f28,
    #e22d24,
    #f74105,
    #fb1901
  );
  background-size: 400%;
  -webkit-background-clip: text;
  animation: gradient 10s linear infinite;
}

.logo {
  @apply mx-auto;
}

.creator {
  @apply block font-thin;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--primary);
  text-align: left;
  transition: color 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  &:hover {
    color: #e0dcf3;
  }
}

@keyframes gradient {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}

@media (max-width: 768px) {
  .header {
    @apply flex w-[5.3125rem] flex-col items-center p-[0.7rem];
  }
  .todos,
  .creator {
    display: none;
  }
  .logo {
    width: 50px;
  }
}
