.main {
  @apply ml-[21.875rem] h-full p-8;

  @media (max-width: 768px) {
    padding: 1rem;
    margin-left: 5.3125rem;
  }
}

.topBg {
  @apply mb-8 h-[9rem] w-full rounded-[1.875rem] bg-red-500 shadow-2xl;
  color: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    to right,
    rgba(24, 187, 156, 1) 0%,
    rgba(106, 57, 175, 1) 42%,
    rgba(187, 24, 148, 1) 72%,
    rgba(115, 53, 134, 1) 100%
  );
  animation: gradient 10s infinite linear;
  background-size: 400%;
  @media (max-width: 768px) {
    height: 6rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}
