.category {
  @apply relative grid place-items-center text-lg p-4 rounded-xl shadow-2xl;
  height: 6rem;
  font-weight: 600;
  line-break: anywhere;
  overflow: hidden;
  &:hover {
    .editCategory {
      @apply bottom-0;
    }
  }
}

.editCategory {
  @apply flex justify-center items-center gap-3 absolute w-full h-full -bottom-full z-10 rounded-xl;
  background-color: rgba(0, 0, 0, 0.5);
  transition: bottom 0.7s cubic-bezier(0.14, 0.65, 0.15, 1);
  > button {
    @apply p-2 rounded-xl;
    transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
    background-color: rgba(37, 37, 37, 0.5);
    &:hover {
      background-color: rgba(37, 37, 37, 0.8);
    }
  }
}
