.button {
  @apply rounded-lg;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: #eeeeee;
  padding: 0 2rem;
  background-color: #453e67;
  transition: all 500ms cubic-bezier(0.14, 0.65, 0.15, 1);
  &:hover {
    background-color: #35304c;
  }
  &:disabled {
    @apply cursor-not-allowed;
    background-color: #7f7b92;
  }
}
