.bg {
  @apply fixed inset-0 z-20;
  background-color: rgba(42, 38, 62, 0.7);
}

.popup {
  @apply w-full flex flex-col items-stretch gap-5 fixed top-60 left-1/2 -translate-x-1/2 z-20;
  min-width: 20rem;
  max-width: 35.625rem;
  background-color: #453e67;
  border-radius: 1.875rem;
  padding: 2.1875rem 6.25rem;
  @media (max-width: 768px) {
    padding: 1rem 2rem;
  }
}
